.form-group {
  display: flex;
  flex-direction: column;
}

.compose-main-container {
  display: flex;
  flex-direction: column;
}

iframe {
  height: 35vh;
  width: 100%;
}

textarea {
  height: 30vh;
  width: 100%;
}

.links-input {
  width: 60%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.form-group {
  margin-top: 12px;
  gap: 6px;
}

.links-input button {
  width: fit-content;
}

footer {
  margin-top: 0;
}

@media (max-width: 1000px) {
  footer {
    height: 0;
  }
}
