body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: #00000050 1px solid;
  border-radius: 5px;
  background-color: #ffffff;
  width: 100%;
}

menu {
  display: flex;
}

.nav-item {
  display: flex;
  padding: 0.5rem;
  border-radius: 10px;
  border: #00000050 1px solid;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  margin-left: 10px;
  background-color: #ffffff80;
}

.left-container {
  display: flex;
  gap: 1rem;
}

.nav-buttons {
  display: flex;
  margin-right: 0.5rem;
}

.logo {
  padding: 0.5rem;
}

nav a {
  text-decoration: none;
  color: #333; /* Set the color for the links */
}

button {
  min-width: 100px;
  max-width: fit-content;
  border-radius: 3px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.438);
  height: 22px;
  font-size: 0.9rem;
  font-weight: 525;
}

main {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1000px) {
  header {
    flex-direction: column;
  }
  main {
    flex-direction: column;
    height: 100vh;
    max-height: 90vh;
  }

  .left-container {
    display: none;
  }

  nav {
    width: 100vw;
  }
}

@media (max-width: 400px) {
  .nav-item {
    margin-left: 5px;
    justify-content: space-between;
    font-size: small;
  }
}
